*{
	padding: 0;
	margin: 0;
}

body {
	font-size: 10px;
	background-color: #eee;
}

.bg,.container {
	position: relative
}

.container {
	max-width: 720px;
	margin: 0 auto;
}

.img-responsive {
	width: 100%;
	display: block
}

.iosBtn {
	position: absolute;
	top: 55%;
	left: 5%;
	width: 3rem;
	height: 1rem;
	background-image: url("../image/iosBtn.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.andBtn {
	position: absolute;
	top: 55%;
	right: 5%;
	width: 3rem;
	height: 1rem;
	background-image: url("../image/andBtn.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.kefu {
	display: block;
	position: fixed;
	top: 2%;
	right: 2%;
	width: 1rem;
	height: 0.8rem;
	background-image: url("../image/kf.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 999;
}

